
body{
  background-color: white;

}
#logo1{
  height: 100px;
}
#logo2{
  height: 50px;
  margin-top: 20px;

}
.heading{
  color:blueviolet;
  font-size: 60px;
  font-style:normal;
  font-weight:bolder;
  font-family:cursive;
  text-align: center;
  text-shadow:2px 2px 5px;
}
.subheading{
  text-align: center;
}

.headerdiv{
    display: flex;
    flex-direction:row;
  }

}
.subheading{
  text-align: center;
  font-style:italic;
  font-family:monospace;
  font-size: 18px;
}
b{
  color:rgba(204,104,32,1);
}
#mainposter{
  height: 500px;
  width: 500px;
  border-radius: 20px;

}
.frame1div{
  margin-top: 50px;
  display:flex;
  justify-content: center;


}
.eventposter{
  border-radius: 20px;
  height: 400px;
  width: 400px;
  margin: 3px 3px 3px 3px;


}
.events{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items:center;
}
.eventheading{
  text-align: center;
  font-style:normal;
  font-weight:bolder;
  font-family:serif;
  font-size: 30px;

}
a{
  text-decoration: none;
  color:brown;
  font-weight:bold;

}
footer{
  background-color: aqua;
  border-radius: 5px;
  text-align: center;
  font-family: cursive;
}

.web{
  display: flex;
  flex-direction: column;
}
.python{
  display: flex;
  flex-direction: column;
}
.flutter{
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:950px){
  #logo1{
    height: 80px;
    width: 250px;
  }
  #logo2{
    height: 40px;
    weight:60px;
  }
  .heading{
    font-size: 30px;
  }
  .subheading{
    font-size: 20px;
  }
  #mainposter{
    height: 300px;
    width: 300px;
    border-radius: 20px;
  }
  .eventposter{
      border-radius: 20px;
      height: 300px;
      width: 300px;
      margin: 3px 3px 3px 3px;
    }
    .events{
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items:center;
    }



}
